html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}
body #navbar {
  top: 0;
  width: 100%;
  position: fixed;
}
body #navbar ul {
  margin: 0;
  color: #fff;
  display: flex;
  background: #0562a0;
  justify-content: flex-end;
}
body #navbar ul li {
  margin: 20px 20px;
  list-style-type: none;
}
body #navbar ul li a {
  all: unset;
  cursor: pointer;
}
body #navbar ul li a:visited {
  color: white;
}
body #navbar ul li a:hover,
body #navbar ul li a:active {
  color: rgba(255, 255, 255, 0.623);
}

body main #welcome-section .welcome-contents {
  color: black;
  margin: 0 10%;
  font-size: 1.3em;
  min-height: 70vh;
  padding-top: 30vh;
}
@media (max-width: 600px) {
  body main #welcome-section .welcome-contents {
    font-size: 1.1em;
    padding-top: 10vh;
    min-height: 90vh;
  }
}
body main #welcome-section .welcome-contents h1 {
  font-size: 3em;
}
body main #welcome-section .welcome-contents div {
  font-size: 1.5em;
}
body main #projects {
  background: #0562a0;
}
body main #projects .projects-title {
  color: white;
  font-size: 2em;
  padding: 20px 0;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
}
body main #projects .porjects-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 30px;
  justify-content: center;
}
@media (max-width: 880px) {
  body main #projects .porjects-container .hide-on-moblie {
    display: none;
  }
}
body main #projects .porjects-container .project-tile {
  border: 2px solid white;
  margin: 20px;
}
body main #projects .porjects-container .project-tile-image img {
  width: 250px;
}
body main #projects .porjects-container .project-tile-link {
  text-align: center;
  margin-bottom: 10px;
}
body main #projects .porjects-container .project-tile-link a {
  color: white;
}
body main #contact {
  margin: 30px 0;
  min-height: 30vh;
}
body main #contact .contact-header {
  font-size: 2em;
  padding: 20px 0;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
}
body main #contact .contact-me {
  display: flex;
  margin-top: 40px;
  justify-content: space-evenly;
}
body main #contact .contact-me-link a img {
  width: 50px;
}
body footer {
  color: white;
  padding: 20px 0;
  text-align: center;
  background: #0562a0;
}

.container section {
  color: #000000;
  padding: 10px 0;
  background-size: 50%;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("./Images/Cover.webp");
}
.divider {
  padding: 0;
  margin: 0;
}
.divider h1 {
  margin: 10%;
  /* text-align: center; */
  font-size: 100px;
  color: rgb(14, 2, 2);
}
